<mat-toolbar>
    <mat-toolbar-row>
      <button mat-button class="appLogo">{{title}}</button>
      <span class="menu-spacer"></span>
      <button mat-button >Log In</button>
      <button mat-button >About Us</button>
    </mat-toolbar-row>
    <mat-toolbar-row style="text-align: center;display: unset ">
      <p><strong>Title</strong></p>
    </mat-toolbar-row>
    <mat-toolbar-row style="text-align: center;display: unset ">
      <p><strong>Sub Title</strong></p>
    </mat-toolbar-row>
    <mat-toolbar-row>
    <mat-form-field class="spacer">
      <input matInput [matDatepicker]="picker1"  [(ngModel)]="startDate" (ngModelChange)="valuechange($event)" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <span class="spacer">TO</span>
    <mat-form-field class="spacer">
      <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" (ngModelChange)="valuechange($event)" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <span class="spacer">TO</span>
    </mat-toolbar-row>
  </mat-toolbar>

<router-outlet></router-outlet>
